@font-face {
  font-family: "Hymmnos";
  src: url("/fonts/hymmnos.ttf");
}

@font-face {
  font-family: "ar-ciela";
  src: url("/fonts/ar-ciela_compartment.ttf");
}

.font-hymmnos {
  font-family: "Hymmnos";
}
.font-arciela {
  font-family: "ar-ciela";
}
.text-2xs {
  font-size: 0.6rem;
}
.text-3xs {
  font-size: 0.4rem;
}
.z--1 {
  z-index: -1;
}
body {
  font-family: "Noto Sans JP", sans-serif;
}
html {
  touch-action: manipulation;
}
